.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.header {
    grid-area: header;
    min-height: 8vh;
    background-color: #133146;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #133146;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body {
 margin: 2em;
}


.inputPath form{
    grid-area: inputPath;
    width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */
/*
.inputPath input[type=file], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} 

.inputPath input[type=submit] {
  width: 100%;
  background-color: #203040;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputPath input[type=submit]:hover {
  background-color: #204040;
}*/